.container {
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 792px;
  background-color: #fff;
}
.title {
  background-color: #000a4b;
  height: 50px;
  padding: 14px 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title h2 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: calc(100% - 10px);
}
.title img {
  height: 10px;
  width: 10px;
  cursor: pointer;
}
@media (max-width: 350px) {
  .container {
    margin: 10px;
  }
}
