.radio-container {
  position: relative;
}
input {
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.radio-button,
input {
  margin: 0 20px 0 0;
  display: inline-block;
  width: 36px;
  height: 36px;
}
.radio-container input:checked ~ .radio-button {
  background-color: #5832e0;
  color: #fff;
}
.radio-button {
  border: 1.5px solid #5832e0;
  border-radius: 50%;
  font-size: 12px;
  position: relative;
  pointer-events: none;
  cursor: none;
}
.radio-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
}
@media (max-width: 350px) {
  .radio-button,
  input {
    margin: 0 20px 0 0;
    width: 30px;
    height: 30px;
  }
  .radio-button span {
    font-size: 11px;
  }
}
